@font-face {
    font-family: 'Lexend';
    src: url('fonts/Lexend-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend';
    src: url('fonts/Lexend-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary-color: #FFFFFF;
    --primary--wheel: #FFC400;
    --secondary-color: #BEBEBE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend, sans-serif;
}

.debug {
    border: 2px red solid;
}

body {
    width: 100%;
    height: 100vh;
}

#background {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

#container {
    position: fixed;
    height: 100% !important;
    width: 100% !important;
}

.inner-container {
    margin: 2% 5%;
    position: absolute;
    width: 90%;
    height: 96%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

#uptime {
    text-align: center;
    font-size: 2.5em;
    color: var(--secondary-color)
}

#timer {
    text-align: center;
    font-weight: bold;
    font-size: 10em;
    color: var(--primary-color);
}

#incentives {
    text-align: center;
    font-size: 2.5em;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 5%;
}

.incentive {
    flex-grow: 1;
    flex-basis: 26%;
}

#graph {
    flex-grow: 1;
    padding: 3% 7% 10% 7%;
}


#graph_svg > path {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 0.8rem;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

#graph_icon_container {
    transform: translateX(100%) translateY(-50%);
}

#graph_icon {
    transform: translateX(-50%);
}



#timer-container {
    transition: 0.2s filter linear;
}

.wheel-active > #timer-container {
    filter: blur(12px);
}

#wheel-container {
    transform: scale(0, 0);
}

.wheel-active > #wheel-container {
    display: block !important;
    transform: scale(1, 1) !important;
}

#wheel-text-container {
    height: 18%;
    width: 100%;
}

#wheel-text {
    height: 100%;
    width: 100%;
    font-size: 6vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--primary--wheel);
    font-weight: bold;
    text-align: center;
}

#wheel {
    height: 72%;
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#wheel-pin {
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff;
    transform: translate(0px, -12px);
    z-index: 5;
}

#wheel_svg {
    transition: transform 5s cubic-bezier(.4,.14,.25,1);
}

.wheel-text {
    font-weight: bold;
    font-size: 2px;
    fill: var(--primary-color);
}